@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    --theme-color: #75bf7a;
    --light-text-color: #9E9DA2;
}

body {
    background-color: #F9F9F9;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    height: 174px;
}

.header>div {
    display: flex;
    align-items: center;
    gap: 46px;
}

.header>img {
    width: 180px;
}

a {
    text-decoration: none;
    font-weight: 500px;
    font-size: 17.16px;
    color: #000;
}

.help {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5.95px;
    background-color: var(--theme-color);
    color: white;
    border: none;
    font-weight: 600px;
    font-size: 22px;
    width: 182px;
}

.section1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 50px;
}

.section2 {
    width: 50%;
    display: flex;
    justify-content: center;
}

.hero {
    display: flex;
    height: 70vh;
}

.section1>h1 {
    font-weight: 800px;
    font-size: 60.73px;
}

.section1>p {
    font-size: 24px;
    font-weight: 500px;
    color: var(--light-text-color);
}

.section1-buttons {
    display: flex;
    justify-content: space-around;

}

.button1 {
    background-color: #000;
    color: #FFFFFF;
    font-weight: 800px;
    font-size: 24.6px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    gap: 15px;


}

.section2>img {
    width: 500px;
}

.green-box {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1280px;
    height: 166px;
    border-radius: 10px;
    background-color: var(--theme-color);
}

.green-box>div {
    display: flex;
    align-items: center;
    gap: 12px;

}

.green-box>p {
    font-size: 24.6px;
    font-weight: 600px;
    color: white;
}

.green-box input {
    width: 499px;
    height: 67px;
    border-radius: 4.39px;
    border: none;
    font-size: 20px;
    font-weight: 600px;
    padding: 10px;
    color: #DADADA;
}

.green-box input:focus {
    outline: var(--theme-color);
}